@import url('https://static.parastorage.com/unpkg/@wix/wix-fonts@1.9.3/madefor.css');

:root {
  --G1: #1d1d1d;
  --G2: #323232;
  --G3: #434343;
  --G4: #5d5d5d;
  --G5: #bfbfbf;
  --G6: #e7e7e7;
  --G7: #f2f2f2;
  --G8: #444444;
  --prt-blue: #41c9d6;
  --prt-light-blue: #76e8f2;
  --prt-btn-hover: #61dde8;
  --input-hover: #777777;
  --madefor: "Madefor";
  --weight-400: var(--wix-font-weight-regular, 400);
  --weight-700: var(--wix-font-weight-bold);
}

.prototype-panel[panel-dir="left"] {
  --left-px: 0;
  --right-px: unset;
  --panel-transform: translateX(24px);
  --panel-dir-animtaion-transform: translateX(60px);
  --logo-order: 2;
  --main-actions-order: 1;
  --main-logo-padding-left: 0px;
  --main-logo-padding-right: 0px;
  --tabs-margin-right: 22px;
  --hide-panel-translate: translateX(-70px);
  --hide-panel-note: unset;
  --footer-padding: 0 14px 2px 8px;
  --footer-icons-dir: rtl;
}

.prototype-panel[panel-dir="right"] {
  --left-px: unset;
  --right-px: 0;
  --panel-transform: translateX(-24px);
  --panel-dir-animtaion-transform: translateX(-60px);
  --logo-order: 1;
  --main-actions-order: 2;
  --main-logo-padding-left: 20px;
  --main-logo-padding-right: 0px;
  --tabs-margin-right: 24px;
  --hide-panel-translate: translateX(70px);
  --hide-panel-note: auto;
  --footer-padding: 0 8px 2px 14px;
  --footer-icons-dir: ltr;
}

.prototype-panel[interactive-panel=true] {
  --bar-hover-width: 240px;
}

.prototype-panel[interactive-panel=false] {
  --bar-hover-width: 168px;
}

.prototype-panel[interactive-panel=false] .prt-panel-bar-icon[data-title="Prototype Settings"] {
  display: none;
}

.prototype-panel {
  position: absolute;
  bottom: 12px;
  right: var(--right-px);
  left: var(--left-px);
  transform: var(--panel-transform);
  z-index: 9999999999;
  /* transition: transform 0.5s cubic-bezier(0.33, 1, 0.68, 1); */
}

/* Change dir animation */
.prototype-panel.change-dir {
  animation: hide-panel 0.8s, change-dir 0.8s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes hide-panel {
  0% {
    opacity: 0
  }

  15% {
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

@keyframes change-dir {
  0% {
    transform: var(--panel-dir-animtaion-transform);
  }

  50% {
    transform: var(--panel-transform);
  }

  100% {
    transform: var(--panel-transform);
  }
}

.prototype-panel *::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.prototype-panel * {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.prototype-panel * {
  box-sizing: border-box;
  font-family: var(--madefor);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.prototype-panel.prototype-panel-hidden>.prt-panel-bar, .prototype-panel.prototype-panel-hidden>.prt-panel-content {
  transform: var(--hide-panel-translate);
  transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

/* Hide note animation */
.prototype-panel.prototype-panel-hidden>.prt-show-panel-note {
  display: flex;
  opacity: 0;
  transform: translateY(0px);
  animation: show-note 0.2s cubic-bezier(0.65, 0, 0.35, 1) forwards 0.3s, hide-note .1s linear 3.5s forwards;
}

.prt-show-panel-note {
  background-color: var(--G2);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  width: fit-content;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
  margin-left: var(--hide-panel-note);
  margin-right: 0;
  transform: translateY(4px);
  transition: .2s;
}

@keyframes show-note {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes hide-note {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}

.prototype-panel .prt-panel-bar {
  border: 1px solid #3a3a3a;
  border-top: 0px;
  box-shadow: 0px 2px 6px 0px #00000040;
  box-shadow: 0px 0px 15px -5px #00000040;
}

.prototype-panel.prt-panel-open .prt-panel-content {
  border: 1px solid #3a3a3a;
  box-shadow: 0px 2px 6px 0px #00000040;
  box-shadow: 0px 0px 15px -5px #00000040;
}

.prt-panel-bar {
  height: 48px;
  width: 46px;
  /* overflow: hidden; */
  background: var(--G2);
  position: absolute;
  bottom: 12px;
  right: var(--right-px);
  left: var(--left-px);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: .2s cubic-bezier(0.33, 1, 0.68, 1);
  z-index: 1;
}

.prt-panel-bar.non-animation {
  transition: unset !important;
}

.prototype-panel:not(.prototype-panel-hidden):not(.prt-panel-open) .prt-panel-bar:hover {
  width: var(--bar-hover-width);
  padding-right: var(--main-logo-padding-right);
}

[panel-dir="right"] .prt-panel-bar:hover {
  padding-left: 20px;
}

[panel-dir="left"] .prt-panel-bar-actions {
  direction: rtl;
}

[panel-dir="left"] .prt-panel-dir-btn {
  transform: rotate(180deg);
}

.prototype-panel.prt-panel-open .prt-panel-bar {
  width: 260px;
  padding-left: var(--main-logo-padding-left);
  padding-right: var(--main-logo-padding-right);
  z-index: 2;
  border-radius: 0 0 10px 10px;
  transition: .05s linear 0.07s;
}

.prototype-panel .prt-panel-bar-main-logo {
  cursor: pointer;
  opacity: 100%;
}

.prt-panel-bar-actions {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  display: flex;
  opacity: 0;
  width: 0;
  direction: ltr;
}

.prt-panel-bar-actions .prt-panel-bar-icon {
  height: 47px;
  width: 40px;
  background: var(--G2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: fit-content;
  margin-right: var(--tabs-margin-right);
}

.prt-panel-bar-actions .prt-panel-bar-icon svg {
  opacity: 75%;
}

.prt-panel-bar-icon:after {
  content: "";
  background: var(--prt-blue);
  height: 3px;
  min-width: 39px;
  opacity: 0;
  position: absolute;
  top: 0px;
  border-radius: 10px;
}

.prt-panel-bar-actions .prt-panel-bar-icon span {
  color: var(--G5);
  font-weight: 500;
  font-size: 14px;
}

.prt-panel-bar-icon:hover span {
  color: var(--G6);
}

.prt-panel-bar-icon.prt-panel-icon-selected span {
  color: var(--G7);
}

.prt-panel-bar-icon:hover img, .prt-panel-bar-icon.prt-panel-icon-selected img {
  opacity: 100%;
}

.prt-panel-bar-icon:hover img {
  background: var(--G1);
  padding: 6px;
  border-radius: 8px;
}

.prt-panel-bar-icon.prt-panel-icon-selected:after {
  opacity: 1;
  transition: .15s cubic-bezier(0.32, 0, 0.67, 0);
}

.prototype-panel.prt-panel-open>.prt-panel-bar>.prt-panel-bar-actions {
  opacity: 1;
  width: unset;
}

.prt-panel-bar:hover .prt-panel-bar-actions {
  opacity: 1;
  width: unset;
  transition: .25s cubic-bezier(0.32, 0, 0.67, 0);
}

.prt-panel-bar-main-logo {
  height: 47px;
  width: 45px;
  padding: 12px;
  margin-left: -1px;
  background: var(--G2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}

.prt-panel-bar:hover .prt-panel-bar-main-logo {
  opacity: 100%;
}

.prt-panel-bar> :nth-child(1) {
  order: var(--logo-order);
}

.prt-panel-bar> :nth-child(2) {
  order: var(--main-actions-order);
}

.prt-panel-content {
  background: var(--G1);
  bottom: 53px;
  right: var(--right-px);
  left: var(--left-px);
  position: relative;
  max-width: 260px;
  max-height: 0px;
  transform-origin: bottom;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.prototype-panel.prt-panel-open .prt-panel-content[contet="Prototype Settings"],
.prototype-panel.prt-panel-open .prt-panel-content[contet="Prototype Settings"].prt-content-min-height {
  min-height: 556px !important;
}

.prt-panel-open .prt-panel-content {
  max-width: 260px;
  max-height: 700px;
  transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1) .12s;
}

.prt-panel-content .prt-panel-header {
  height: 48px;
  width: 260px;
  background: var(--G2);
  padding: 24px 14px 24px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prt-panel-header .prt-panel-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.prt-panel-header .prt-panel-header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prt-panel-header-actions>span {
  opacity: 75%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.prt-panel-header-actions>span:hover {
  opacity: 100%;
}

.prt-panel-dir-btn, .prt-panel-hide-btn {
  visibility: hidden;
}

.prt-panel-header:hover .prt-panel-dir-btn, .prt-panel-header:hover .prt-panel-hide-btn {
  visibility: visible;
}

.prt-panel-header-actions>span:hover {
  opacity: 100%;
}

.prt-panel-header-actions>span>img {
  height: 20px;
  width: 20px;
}

.prt-panel-header-actions>span:not(:last-child) {
  margin-right: 3px;
}

/* Show tooltip animation */
.prt-header-tooltip {
  box-shadow: unset !important;
  z-index: 99999999999;
  top: -71px;
  display: flex !important;
  transform: scale(0.7);
  opacity: 0;
  transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes show-tooltip {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.prt-header-tooltip.prt-show-tooltip {
  animation: show-tooltip 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

.prt-header-tooltip[for="dir"] {
  left: 146px;
}

.prt-header-tooltip[for="hide"] {
  left: 146px;
}

.prt-header-tooltip[for="minimize"] {
  left: 205px;
}

.prt-panel-section {
  color: #ffffff;
  margin-bottom: 6px;
  transition: 0.02s cubic-bezier(0.33, 1, 0.68, 1);
}

.prt-panel-section.prt-show-section,
.prt-panel-title.prt-show-section {
  animation: fadeInSectionContent 0.18s cubic-bezier(0.32, 0, 0.67, 0);
  animation-fill-mode: forwards;
}

@keyframes fadeInSectionContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.prt-panel-title.prt-hide-section,
.prt-panel-section.prt-hide-section {
  animation: fadeSectionContent 0.18s cubic-bezier(0.33, 1, 0.68, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeSectionContent {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.prt-panel-section.prt-customization {
  padding: 0;
  overflow: scroll;
}

.prt-panel-section.prt-customization>.prt-panel-section-content {
  padding: 0;
}

.prt-panel-section.prt-customization .prt-panel-field {
  margin: 18px 24px;
}

.prt-panel-section.prt-customization .prt-panel-field.prt-last-field {
  margin-bottom: 30px !important;
}

*.prt-hide {
  visibility: hidden;
  max-height: 0 !important;
  margin: 0;
}

.prt-panel-section.prt-overview>*,
.prt-panel-section.prt-share-prototype>* {
  margin: 18px 20px 26px;
}

.prt-panel-section.prt-customization .prt-panel-divider {
  margin: 18px 0 16px;
}

.prt-panel-section .prt-overview-title {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--G5);
  letter-spacing: 1px;
  margin-bottom: 12px;
  display: block;
  font-weight: 600;
}

.prt-panel-section .prt-show-hide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.prt-section-label {
  font-size: 14px;
  width: 168px;
}

.prt-panel-section .prt-overview-paragraph {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 12px;
}

.prt-panel-divider {
  height: 1px;
  width: 100%;
  background: var(--G8);
  margin: 24px 0;
}

.prt-panel-section .prt-signature {
  font-size: 12px;
  text-align: center;
  color: var(--G5);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--G1);
  border-radius: 6px;
}

.prt-panel-section .prt-signature svg {
  margin: 0 6px;
}

.by-ux-prt {
  color: var(--prt-blue);
}

.by-ux-prt:hover {
  color: var(--prt-light-blue) !important;
}

/* ------------------------------------- Share Link - Inputs & Button -------------------------------------*/

/* ------------------------------------- ON/OFF TOGGLE ------------------------------------- */
.prt-small-toggle {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
}

.prt-small-toggle>input {
  opacity: 0;
  width: 0;
  height: 0;
}

.prt-small-toggle-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--G1);
  box-shadow: 0px 0px 0px 1px var(--G4);
  -webkit-transition: .4s;
  transition: .4s;
}

.prt-small-toggle-round>.prt-small-toggle-circle {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 3px;
  bottom: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}

.prt-small-toggle-circle {
  border-radius: 50%;
  background: var(--G5);
}

.prt-small-toggle>input:checked+.prt-small-toggle-round {
  box-shadow: 0px 0px 0px 1px var(--prt-blue);
}

.prt-small-toggle:hover>input+.prt-small-toggle-round {
  box-shadow: 0px 0px 0px 1px var(--input-hover);
}

.prt-small-toggle:hover>input:checked+.prt-small-toggle-round {
  box-shadow: 0px 0px 0px 1px var(--prt-light-blue);
}

.prt-small-toggle>input:checked+.prt-small-toggle-round>.prt-small-toggle-circle {
  background-color: var(--prt-blue);
}

.prt-small-toggle:hover>input:checked+.prt-small-toggle-round>.prt-small-toggle-circle {
  background-color: var(--prt-light-blue);
}

.prt-small-toggle>input:checked+.prt-small-toggle-round>.prt-small-toggle-circle {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.prt-small-toggle-round {
  border-radius: 34px;
}

.prt-small-toggle-circle:after {
  content: "";
  position: absolute;
  background: var(--G1);
  height: 2px;
  width: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.prt-small-toggle>input:checked+.prt-small-toggle-round>.prt-small-toggle-circle:after {
  height: 3px;
  width: 3px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* ------------------------------------- ENDOF: ON/OFF TOGGLE ------------------------------------- */

.ptr-share-input {
  width: 100%;
  height: 34px;
  background-color: var(--G2);
  color: var(--G7);
  border: 1px solid var(--prt-blue);
  border-radius: 8px;
  padding: 8px 1px 8px 8px;
  outline: 0;
}

input.ptr-share-input:focus {
  box-shadow: 0px 0px 0px 2px #3dbdc978;
}

.prt-share-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 18px;
}

.prt-panel-button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

.prt-panel-button[skin="text"] {
  color: var(--prt-blue);
  background: transparent;
  outline: 0;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}

.prt-panel-button[skin="text"]:hover {
  color: #41cbd8;
}

.prt-open-tab-btn {
  padding: 0;
  padding-left: 2px;
  margin: 8px 0 4px;
  font-size: 12px;
}

.prt-open-tab-btn:hover {
  color: var(--prt-light-blue) !important;
}

.prt-recommend-label {
  font-size: 13px;
  margin-top: -22px;
  display: block;
  margin: -18px 0 24px 0px;
  color: #c7c7c7;
}

.prt-checkbox-container .prt-checkbox {
  border-radius: 4px !important;
  background: var(--G2);
  border: 1px solid var(--input-hover);
  height: 15px;
  width: 15px;
  box-shadow: unset !important;
}

input[type="checkbox"].prt-circle-checkbox {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  box-shadow: inset 0px 15px var(--G1);
  left: -1px;
  z-index: 1;
}

.prt-checkbox-container input[type="checkbox"]~label {
  font-size: 14px;
}

.prt-checkbox-container input[type="checkbox"]:checked+.prt-checkbox::after {
  content: "";
  display: block;
  width: 3px;
  height: 7px;
  border: solid var(--prt-blue);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 4px;
}

.prt-checkbox-container:hover input[type="checkbox"]:checked+.prt-checkbox::after {
  border: solid var(--prt-light-blue);
  border-width: 0 2px 2px 0;
  border-radius: 1px 1px 2px 1px;
}

.prt-new-link-container {
  display: flex;
  align-items: center;
}

.prt-new-link-container .prt-text-input {
  padding-right: 0;
  border: 1px solid var(--G4);
}

.prt-new-link-container .prt-text-input::selection {
  background: #575757;
  color: var(--G6);
}

.prt-new-link-container .prt-copy-btn {
  height: 28px;
  width: 29px;
  background: var(--prt-blue);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.prt-new-link-container .prt-copy-btn img {
  filter: brightness(1);
}

.prt-new-link-container .prt-copy-btn:hover {
  background: var(--prt-btn-hover);
}

.prt-new-link-container .prt-copy-btn:hover .prt-panel-tooltip {
  animation: show-tooltip 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

.prt-new-link-container .prt-copy-btn:active {
  background: var(--prt-light-blue);
}

.prt-new-link-container .prt-copy-btn [icon="copied"] {
  display: none;
  width: 20px;
}

.prt-new-link-container .prt-copy-btn .prt-copy-loader[icon="refresh"] {
  display: none;
}

.prt-new-link-container .prt-copy-btn.prt-copied:hover .prt-panel-tooltip {
  opacity: 0 !important;
}

.prt-new-link-container .prt-copy-btn.prt-copied {
  background: var(--prt-light-blue);
}

.prt-new-link-container .prt-copy-btn.prt-copied [icon="copy"],
.prt-new-link-container .prt-copy-btn.prt-refresh [icon="copy"] {
  display: none;
}

.prt-new-link-container .prt-copy-btn.prt-copied [icon="copied"],
.prt-new-link-container .prt-copy-btn.prt-refresh .prt-copy-loader[icon="refresh"] {
  display: flex;
  font-size: 22px;
  height: inherit;
  height: 40px;
}

.prt-new-link-container .prt-copy-btn.prt-refresh .prt-copy-loader[icon="refresh"] span {
  color: var(--G1);
  animation-name: refresh-link;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.prt-copy-loader[icon="refresh"]>span:nth-child(2) {
  animation-delay: .1s;
}

.prt-copy-loader[icon="refresh"]>span:nth-child(3) {
  animation-delay: .2s;
}

@keyframes refresh-link {
  0% {
    /* opacity: 0; */
    color: var(--prt-blue);
  }

  50% {
    /* opacity: 1; */
    color: var(--G1);
  }

  100% {
    /* opacity: 0; */
    color: var(--prt-blue);
  }
}

.prt-panel-field {
  align-items: center;
  border: none;
  color: var(--G7);
  display: grid;
  font-size: 15px;
  justify-content: space-between;
  outline: none;
  padding: 0;
}

.prt-panel-field.prt-last-field + .prt-panel-divider {
  display: none;
}

.prt-panel-field>label {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--G7);
  font-weight: 600;
}

.prt-panel-field:disabled>label {
  color: var(--G4);
}

.prt-panel-section {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}

.prt-panel-section:first-child {
  border-top: none;
}

.prt-panel-section:last-child {
  box-shadow: none;
}

.prt-panel-section-header {
  background-color: var(--G2);
  height: 36px;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 9px 18px 9px 20px;
  border-top: 1px solid var(--G3);
  justify-content: space-between;
}

.prt-panel-section-header.prt-disable-closing {
  padding-left: 18px;
}

.prt-panel-section-header.prt-disable-closing>span::before {
  content: unset;
}

.prt-panel-section-header>span {
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1.3px;
  color: var(--G5);
  text-transform: uppercase;
  font-weight: 500;
}

.prt-panel-section-header>svg {
  opacity: 0.75;
}

.prt-panel-section-header:hover>svg {
  opacity: 1;
}

.prt-panel-section-header:hover>span {
  color: var(--G6);
}

.prt-panel-section-header.close {
  border-bottom: 1px solid #272727;
}

.prt-panel-section-header.close svg {
  transform: rotate(180deg);
}

.prt-panel-section-header.close>span::before, .prt-panel-section-header.prt-disable-closing>span::before {
  transform: rotate(-135deg);
}

.prt-panel-section-content {
  font-size: 12px;
  max-height: 2000px;
  letter-spacing: normal;
  line-height: 1.33;
  padding: 0 22px 14px;
  box-sizing: border-box;
  color: var(--G6);
}

.prt-panel-section-content.info-section-content {
  padding: 18px 22px;
  word-spacing: 0.6px;
}

.prt-panel-section-content.close {
  max-height: 0 !important;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.prt-panel-tooltip {
  background-color: #02020b;
  border: .5px solid var(--G4);
  border-radius: 6px;
  bottom: calc(100% + 8px);
  box-shadow: -1px -1px 6px 0 rgb(34 35 35/70%);
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  transform: scale(0.7);
  opacity: 0;
  display: flex;
  align-items: center;
  height: 28px;
  justify-content: center;
  max-width: 160px;
  padding: 0 8px;
  position: absolute;
  text-align: left;
  width: max-content;
}

/* ------- Disabled State ------- */
.prt-panel-field:disabled {
  pointer-events: none;
}

/* --------------------------------- ENDOF: Structure style  ------------------------------ */


/* ------------------------------------- Number style ------------------------------------- */
.prt-input-number-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
}

.prt-container-input-number input[type=number] {
  width: 66px;
  height: 28px;
  border-radius: 4px;
  border: solid 1px var(--G4);
  background-color: var(--G2);
  color: var(--G7);
  font-size: 14px;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

.prt-container-input-number:hover::after,
.prt-container-input-number:hover:before {
  position: absolute;
  right: 5px;
  width: 25px;
  height: 10px;
  pointer-events: none;
  background: var(--G2);
  border-radius: 0 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prt-container-input-number:hover:after {
  color: var(--G7);
  content: "\25B2";
  top: 1px;
  right: 1px;
  font-size: 11px;
}

.prt-container-input-number:hover:before {
  color: var(--G7);
  content: "\25BC";
  bottom: 3px;
  right: 1px;
  font-size: 11px;
}

.prt-spinner::-webkit-inner-spin-button {
  opacity: 0;
}

.prt-container-input-number:hover>.prt-sfx-label {
  display: none;
}

.prt-container-input-number .prt-spinner:focus {
  outline: none;
  border: solid 1px var(--prt-blue);
}

.prt-container-input-number .prt-spinner:not(:focus):hover {
  outline: none;
  border: solid 1px var(--input-hover);
}

.prt-container-input-number {
  position: relative;
  width: fit-content;
}

.prt-container-input-number>.prt-sfx-label {
  position: absolute;
  right: 0;
  top: 5px;
  color: var(--G5);
  font-size: 14px;
  margin-right: 8px;
  background-color: var(--G2);
}

.prt-spinner-ui {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  height: 24px !important;
}

.prt-spinner {
  width: 60px;
  height: 24px;
  border-radius: 4px;
  border: solid 1px var(--G4);
  background-color: var(--G2);
  color: var(--G7);
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
}

/* ------- Disabled State ------- */
.prt-container-input-number .prt-spinner:disabled {
  border: 1px solid var(--G1);
  background-color: var(--G2);
  color: var(--G4);
}

.prt-panel-field:disabled .prt-sfx-label {
  color: var(--G4);
}

/* ------------------------------------- Slider Style ------------------------------------- */
.prt-slider {
  border-radius: 3px;
  width: 200px;
  position: absolute;
  height: 2px;
  background: var(--G4);
  width: 124px;
  height: 2px;
  position: relative;
  outline: none;
  -webkit-appearance: none;
}

.prt-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: var(--prt-blue);
  border-radius: 10px;
  cursor: pointer;
}

.prt-slider:hover::-webkit-slider-thumb, .prt-slider:hover::after {
  background: var(--prt-light-blue);
}

.prt-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: var(--prt-blue);
  border-radius: 10px;
  cursor: pointer;
}

.prt-slider::after {
  content: "";
  height: 2px;
  width: 74px;
  background: var(--prt-blue);
  position: absolute;
}

/* ------- Disabled State ------- */
.prt-panel-field:disabled .prt-slider {
  background: var(--G2);
}

.prt-panel-field:disabled .prt-slider::after {
  background: var(--G3);
}

.prt-panel-field:disabled .prt-slider::-webkit-slider-thumb {
  background: var(--G3);
}

/* ------------------------------------- Toggle style -------------------------------------*/
.prt-toggle {
  position: relative;
  background-color: tomato;
  z-index: 5;
  width: 210px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--G3);
  background-color: var(--G2);
  color: var(--G5);
  height: 28px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prt-toggle * {
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

input[type="radio"].prt-toggle-option {
  display: none;
  height: 28px;
}

.prt-toggle-bckgrnd, .prt-toggle-labels {
  width: 105px;
  height: 28px;
  text-align: center;
  display: inline-block;
  margin-right: -3px;
  z-index: 2;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 6px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--G6);
  position: relative;
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

.prt-toggle-option:not(:checked)+.prt-toggle-labels:after {
  content: "";
  position: absolute;
  height: 26px;
  width: 104px;
  top: 0;
  border-radius: 4px;
  left: 0;
  border: 0px solid var(--G4);
  opacity: 0;
}

.prt-toggle-option:not(:checked)+.prt-toggle-labels:hover:after {
  opacity: 1;
  border: 1px solid var(--G4);
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

.prt-toggle-option[option="1"]:not(:checked)+.prt-toggle-labels:hover:after {
  border-radius: 4px 0 0 4px;
  right: -1px;
}

.prt-toggle-option[option="2"]:not(:checked)+.prt-toggle-labels:hover:after {
  border-radius: 0 4px 4px 0;
  left: -1px;
}

.prt-toggle-bckgrnd {
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 4px;
  border: 1px solid var(--prt-blue);
  /* background-color: var(--G3); */
}

.prt-toggle-option:checked+.prt-toggle-labels {
  color: var(--prt-blue);
}

.prt-toggle-option:not(:checked):not(:disabled):hover+.prt-toggle-labels {
  color: #fff;
}

input[type="radio"].prt-toggle-option[option="1"]:checked~.prt-toggle-bckgrnd {
  transform: translateX(0px);
  transition: transform 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

input[type="radio"].prt-toggle-option[option="2"]:checked~.prt-toggle-bckgrnd {
  transform: translateX(105px);
  transition: transform 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

/* ------- Disabled State ------- */
.prt-panel-field:disabled .prt-toggle {
  box-shadow: inset 0 0 0 1px var(--G1);
}

.prt-toggle-option:disabled+.prt-toggle-labels {
  color: var(--G4);
}

input[type="radio"].prt-toggle-option:checked:disabled~.prt-toggle-bckgrnd {
  border: 1px solid var(--G1);
  background-color: var(--G2);
}

/* ------- Long Text Tooltip ------- */
.prt-toggle-tooltip-option {
  border-radius: 4px;
  box-shadow: -1px -1px 6px 0px rgb(34 35 35 / 70%);
  border: solid 0.5px var(--G3);
  background-color: #0a0911;
  position: absolute;
  left: -5px;
  bottom: 30px;
  display: none;
  padding: 8px;
  color: var(--G6);
  font-size: 12px;
  box-sizing: border-box;
  max-width: 160px;
}

.prt-toggle-tooltip-option.right {
  right: -5px;
  left: unset;
}

.prt-toggle-labels:hover+.prt-toggle-tooltip-option {
  display: block;
}

input[type="radio"].prt-toggle-option:disabled~.prt-toggle-tooltip-option {
  display: none;
}

/* ------------------------------------- Radio Button style -------------------------------------*/
input[type="radio"].prt-circle-checkbox {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  box-shadow: inset 0px 15px var(--G1);
  left: -1px;
  z-index: 1;
}

.prt-checkbox-container {
  display: flex;
  /* align-items: center; */
  position: relative;
  padding-left: 26px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

.prt-checkbox-container:last-child {
  margin-bottom: 0;
}

.prt-checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: var(--G1);
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 3px var(--G1);
  border: solid 1px var(--prt-blue);
  background-color: var(--G1);
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 3px var(--G1);
  border: solid 1px var(--prt-blue);
}

.prt-checkbox-container:hover>.prt-circle-checkbox:not(:checked)+.prt-checkmark {
  border: solid 1px var(--prt-light-blue);
  /* border: 1px solid var(--prt-blue); */
}

input[type=radio].prt-circle-checkbox:checked+.prt-checkmark {
  background-color: var(--G1);
  box-shadow: inset 0px 0px 0px 3px #1d1d1d, inset 0px 0px 0px 6px #34b5b5;
}

input[type=radio].prt-circle-checkbox~label {
  font-size: 14px;
  cursor: pointer;
  color: var(--G7);
}

input[type=radio].prt-circle-checkbox:checked~label {
  color: var(--prt-blue);
}

.prt-checkbox-container:hover>label {
  color: #fff;
}

/* ------- Disabled State ------- */
input[type=radio].prt-circle-checkbox:checked:disabled+.prt-checkmark {
  background-color: var(--G3);
}

input[type=radio].prt-circle-checkbox:disabled+.prt-checkmark {
  border: solid 1px var(--G3);
}

input[type=radio].prt-circle-checkbox:disabled~label {
  color: var(--G3);
}

/* ------------------------------------- Thumbnails style -------------------------------------*/
.prt-thumbnails {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, 58px);
  grid-gap: 18px;
  width: 210px;
  justify-content: space-between;
}

.prt-thumbnails-item {
  text-align: center;
  position: relative;
  width: 58px;
}

.prt-thumbnails-button {
  width: 57px;
  height: 57px;
  border-radius: 4px;
  border: solid 1px var(--G3);
  background-color: var(--G2);
  outline: none;
  cursor: pointer;
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

.prt-thumbnails-button img {
  filter: invert(66%) sepia(16%) saturate(13%) hue-rotate(341deg) brightness(91%) contrast(84%);
  height: 28px;
  width: 28px;
}

.prt-thumbnails-item:hover .prt-thumbnails-button {
  border: solid 1px #6d6d6d;
}

.prt-thumbnails-item:hover .prt-thumbnails-button img {
  filter: invert(98%) sepia(87%) saturate(6%) hue-rotate(108deg) brightness(150%) contrast(81%);
}

.prt-thumbnails-button+label {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 55px;
  display: inline-block;
  color: var(--G7);
  margin-top: 4px;
}

.prt-thumbnails-item:hover>label {
  color: var(--G6);
}

[type="radio"].prt-thumbnails-input {
  width: 50px;
  height: 50px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

[type="radio"].prt-thumbnails-input:checked~.prt-thumbnails-button {
  border: solid 1px var(--prt-blue);
  /* background-color: var(--G3); */
}

[type="radio"].prt-thumbnails-input:checked~.prt-thumbnails-button img {
  filter: invert(55%) sepia(35%) saturate(640%) hue-rotate(145deg) brightness(145%) contrast(80%);
}

[type="radio"].prt-thumbnails-input:checked~.prt-thumbnails-button+label {
  color: var(--prt-blue);
}

/* ------- Disabled State ------- */
[type="radio"].prt-thumbnails-input:disabled~.prt-thumbnails-button {
  border: solid 1px var(--G2);
  background-color: var(--G2);
}

[type="radio"].prt-thumbnails-input:checked:disabled~.prt-thumbnails-button {
  border: solid 1px var(--G2);
}

[type="radio"].prt-thumbnails-input:disabled~.prt-thumbnails-button img {
  opacity: 0.3;
  filter: invert(66%) sepia(16%) saturate(13%) hue-rotate(341deg) brightness(91%) contrast(84%);
}

[type="radio"].prt-thumbnails-input:checked:disabled~.prt-thumbnails-button img {
  opacity: 0.3;
  filter: invert(66%) sepia(16%) saturate(13%) hue-rotate(341deg) brightness(91%) contrast(84%);
}

[type="radio"].prt-thumbnails-input:disabled~.prt-thumbnails-button+label {
  color: var(--G3);
}

/* ------- Long Text Tooltip ------- */
.prt-thumbnails-tooltip-item {
  --tooltip-side-offset: -5px;
  border-radius: 4px;
  box-shadow: -1px -1px 6px 0px rgb(34 35 35 / 70%);
  border: solid 0.5px var(--G3);
  background-color: #0a0911;
  position: absolute;
  bottom: 67px;
  display: none;
  padding: 8px;
  color: var(--G6);
  font-size: 12px;
  box-sizing: border-box;
  max-width: 160px;
  width: max-content;
  text-align: left;
  justify-content: center;
}

.prt-thumbnails-tooltip-item.left-prt-tooltip-item {
  left: var(--tooltip-side-offset);
}

.prt-thumbnails-tooltip-item.right-prt-tooltip-item {
  right: var(--tooltip-side-offset);
}

.prt-thumbnails-tooltip-item.center-prt-tooltip-item {
  left: 50%;
  transform: translateX(-50%);
}

[type="radio"].prt-thumbnails-input:hover~.prt-thumbnails-tooltip-item {
  display: flex;
}

/* ------------------------------------- Text Field style -------------------------------------*/
[type="text"].prt-text-input {
  background: var(--G2);
  border: 1px solid var(--G4);
  color: var(--G7);
  height: 28px;
  width: 210px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

[type="text"].prt-text-input:hover:not(:disabled):not(:focus) {
  color: var(--G6);
  border: 1px solid var(--input-hover);
}

[type="text"].prt-text-input:focus {
  color: var(--G6);
  border: 1px solid var(--prt-blue);
  outline: none;
}

/* ------- Disabled State ------- */
[type="text"].prt-text-input:disabled {
  border: 1px solid var(--G1);
  background-color: var(--G2);
  color: var(--G4);
}

/* ------------------------------------- Button style -------------------------------------*/
[type="button"].prt-button-input {
  background: var(--G2);
  border: 1px solid var(--G3);
  color: var(--prt-blue);
  height: 28px;
  width: 105px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.17s cubic-bezier(0.37, 0, 0.63, 1);
}

[type="button"].prt-button-input:hover:not(:disabled):not(:active) {
  color: var(--prt-blue);
  border: 1px solid var(--prt-blue);
}

[type="button"].prt-button-input:active {
  color: var(--prt-light-blue);
  border: 1px solid var(--prt-light-blue);
}

/* ------- Disabled State ------- */
[type="button"].prt-button-input:disabled {
  border: 1px solid var(--G1);
  background-color: var(--G2);
  color: var(--G4);
}

/* ------------------------------------- Color Input style -------------------------------------*/
.prt-color {
  width: 210px;
  display: flex;
  justify-content: space-between;
}

.prt-color .prt-container-input-number input[type="number"] {
  width: 66px;
  height: 28px;
}

.prt-color .prt-container-input-number:hover:after,
.prt-color .prt-container-input-number:hover:before {
  width: 20px;
}

.prt-color .prt-color-picker {
  /* width: 44px; */
  width: 28px;
  background: var(--G2);
  border: 1px solid var(--G3);
  color: var(--G5);
  height: 28px;
  padding: 5px 7px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
}

.prt-color .prt-color-picker .prt-color-chevron {
  height: 26px;
  width: 17px;
  background: var(--G2);
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  border-left: 1px solid var(--G3);
  border-radius: 0 3px 3px 0;
  display: none;
}

.prt-color-chevron:after {
  color: var(--G7);
  content: "\25BC";
  font-size: 12px;
  margin: 4px;
  display: inline-block;
}

.prt-color-chevron.prt-selected:after {
  color: var(--prt-light-blue);
}

.prt-color-picker-content {
  /* height: 110px; */
  width: 99px;
  position: absolute;
  background: var(--G2);
  border: 1px solid var(--G3);
  z-index: 1;
  left: -1px;
  top: 26px;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, 16px);
  grid-gap: 10px 12px;
  visibility: hidden;
}

.prt-color-picker-content.prt-visible {
  visibility: visible;
}

.prt-color-picker-content .prt-color-item {
  position: relative;
  height: 22px;
  cursor: pointer;
}

.prt-color-input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.prt-color-item .prt-color-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: aquamarine;
  cursor: pointer;
  box-shadow: inset 0px 0px 0 2px var(--G2);
  box-sizing: border-box;
  position: absolute;
}

.prt-color-input:checked+.prt-color-circle {
  border: 1px solid var(--prt-light-blue);
}

.prt-color input[type="text"].prt-color-code {
  width: 90px;
}
